Repository Qihoo360/tensornet: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, format-yaml, check-yaml, check-yaml-multi, toml-format, check-json, format-json, clang-format, actionlint

Path conditions:
  trailing-whitespace: any file but: \.patch$
  format-yaml: any of: \.(yaml|yml)$
  check-yaml: any of: \.(yaml|yml)$, but not: ^\.clang-format$
  check-yaml-multi: any of: ^\.clang-format$ and \.(yaml|yml)$
  toml-format: any of: \.toml$
  check-json: any of: \.json$
  format-json: any of: \.json$, but not: ^doc/
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, \.proto$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$

update max_seq_len name
  tensornet/layers/sequence_embedding_features.py
Due: trailing-whitespace

fix bazel build
  .gitlab-ci.yml
Due: trailing-whitespace, format-yaml, check-yaml

fix bazel build
  .gitlab-ci.yml
  manager
Due: trailing-whitespace, format-yaml, check-yaml

Bump version: 0.102.1 → 0.102.2.dev
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.102.2.dev → 0.102.2
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

update sequence layer
  tensornet/layers/embedding_features.py
  tensornet/layers/sequence_embedding_features.py
Due: trailing-whitespace

fix bump version
  pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.102.2 → 0.102.2.post1
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

change image version
  .github/workflows/python.yml
Due: trailing-whitespace, format-yaml, check-yaml, actionlint

disable bazel build
  .github/workflows/python.yml
Due: trailing-whitespace, format-yaml, check-yaml, actionlint
