Repository Qihoo360/tensornet: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, toml-format

check-yaml:
  name: Check YAML
  entry: ./pixiw run -e tools check-yaml
  language: system
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: ./pixiw run -e tools toml-format
  language: system
  stages:
  - pre-commit
  - manual

add hook check: end-of-file
  .pre-commit-config.yaml
  README.md
  configure.sh
  core/ps/optimizer/ada_grad_kernel.cc
  core/ps/optimizer/adam_kernel.cc
  core/ps/optimizer/data_struct.cc
  core/ps/optimizer/ftrl_kernel.cc
  core/ps_interface/BUILD
  core/utility/BUILD
  core/utility/file_io.cc
  doc/compile_deploy.md
  examples/online_serving/graph.cc
  tensornet-tools/bin/tn_tools.sh
  tensornet/callbacks/__init__.py
  tensornet/core/gen_balance_dataset_ops.py
  tensornet/core/gen_sparse_table_ops.py
  tensornet/data/__init__.py
  tensornet/layers/embedding_features.py
  tensornet/metric/metrics.py
  tensornet/model/compile_utils.py
  test/ps/optimizer/optimizer_kernel_test.cc
  test/ps/table/sparse_table_test.cc
  test/utility/allocator_test.cc
  thirdparty/tensorflow/BUILD
Due: check-yaml

add commit hook: trailing-whitespace
  .github/workflows/python.yml
  .github/workflows/tensornet-tools.yml
  .pre-commit-config.yaml
  WORKSPACE
  core/kernels/bn_table_ops.cc
  core/kernels/data/balance_dataset_ops.cc
  core/kernels/data/balance_dataset_ops.h
  core/kernels/data/balance_dataset_ops_dummy.cc
  core/kernels/sparse_table_ops.cc
  core/kernels/sparse_table_ops_dummy.cc
  core/ps/optimizer/ada_grad_kernel.cc
  core/ps/optimizer/ada_grad_kernel.h
  core/ps/optimizer/optimizer_kernel.h
  core/ps/table/bn_table.cc
  core/ps/table/bn_table.h
  core/public/version.h
  doc/compile_deploy.md
  examples/common/feature_column.py
  examples/common/layers.py
  examples/common/util.py
  examples/models/deep_cross.py
  examples/models/deepfm.py
  examples/models/wide_deep.py
  tensornet-tools/README.md
  tensornet-tools/python/utils.py
  tensornet/feature_column/sequence_category_column.py
  tensornet/layers/embedding_features.py
  tensornet/layers/normalization_layer.py
  tensornet/optimizer/optimizer.py
Due: check-yaml

commit hook to format json
  .pre-commit-config.yaml
  CMakePresets.json
Due: check-yaml

hook: lint github action yamls
  .github/workflows/python.yml
  .pre-commit-config.yaml
  pixi.lock
  pyproject.toml
Due: check-yaml, toml-format

pass shellcheck for tools/package.sh
  .pre-commit-config.yaml
  doc/compile_deploy.md
  tools/package.sh
Due: check-yaml

pass shellcheck for tn_tools.sh
  .pre-commit-config.yaml
  tensornet-tools/bin/tn_tools.sh
Due: check-yaml

pass shellcheck for configure.sh
  .pre-commit-config.yaml
  Dockerfile
  configure.sh
  doc/compile_deploy.md
  manager
Due: check-yaml

pass shellcheck for manager
  .pre-commit-config.yaml
  manager
Due: check-yaml

add commit hook: check-executables-have-shebangs
  .gitignore
  .pre-commit-config.yaml
  examples/common/config.py
  examples/common/feature_column.py
  examples/common/util.py
  examples/models/deepfm.py
  examples/models/wide_deep.py
Due: check-yaml

add commit hook: check-shebang-scripts-are-executable
  .pre-commit-config.yaml
  tensornet-tools/python/merge_sparse.py
Due: check-yaml

fix configure.sh
  configure.sh
Due: none

add pre-commit hooks
  .pre-commit-config.yaml
Due: check-yaml

add pre-commit typos hook
  .pre-commit-config.yaml
  CMakeLists.txt
  Dockerfile
  README.md
  cmake-build
  core/ps/optimizer/ada_grad_kernel.cc
  core/ps/optimizer/optimizer_kernel.h
  core/ps/ps_cluster.h
  doc/compile_deploy.md
  pixi.lock
  pyproject.toml
  tensornet-tools/python/utils.py
  tensornet/layers/embedding_features.py
  tensornet/layers/normalization_layer.py
  tensornet/metric/metrics.py
  test/CMakeLists.txt
Due: check-yaml, toml-format

fix typo: get_splited_str -> get_split_str
  pyproject.toml
  tensornet-tools/python/utils.py
Due: toml-format

format yaml files
  .github/workflows/python.yml
  .github/workflows/tensornet-tools.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .yamlfmt.yaml
  config/tn_build.yaml
  pixi.lock
  pyproject.toml
Due: check-yaml, toml-format

format shell with shfmt
  .pixi/rc.sh
  .pre-commit-config.yaml
  cmake-build
  configure.sh
  manager
  pixi.lock
  pixiw
  pyproject.toml
  tensornet-tools/bin/tn_tools.sh
  tools/package.sh
Due: check-yaml, toml-format

use full options for shfmt
  pyproject.toml
Due: toml-format

test pre-commit on github action
  .github/workflows/python.yml
Due: check-yaml

add ci tasks in ga
  .github/workflows/python.yml
  .github/workflows/tensornet-tools.yml
Due: check-yaml

add barrier to epoch end
  tensornet/callbacks/callbacks.py
Due: none

fix pixiw error log
  pixiw
Due: none

上传 pypi 时切换到使用 cmake 生成的 wheel
  .github/workflows/python.yml
  .github/workflows/tensornet-tools.yml
  .gitlab-ci.yml
  pixi.lock
  pyproject.toml
  setup-tn-tools.py
  tensornet_tools/LICENSE
  tensornet_tools/README.md
  tensornet_tools/bin/tn_tools.sh
  tensornet_tools/config/tn_tool_env.yaml
  tensornet_tools/pyproject.toml
  tensornet_tools/python/merge_extra_embedding.py
  tensornet_tools/python/merge_sparse.py
  tensornet_tools/python/resize_dense.py
  tensornet_tools/python/resize_sparse.py
  tensornet_tools/python/utils.py
Due: check-yaml, toml-format

add pixi task to build tool wheel, cleanup setup.py
  .github/workflows/tensornet-tools.yml
  .gitlab-ci.yml
  pixi.lock
  pyproject.toml
  setup.py
  tensornet_tools/pyproject.toml
Due: check-yaml, toml-format

remove unused Dockerfile
  Dockerfile
Due: none

avoid create empty wheel
  .github/workflows/python.yml
  .github/workflows/tensornet-tools.yml
  .gitlab-ci.yml
  pyproject.toml
  setup.py
Due: check-yaml, toml-format

improve test cases
  .github/workflows/python.yml
  .gitlab-ci.yml
  examples/integration-test.py
Due: check-yaml

update doc
  doc/compile_deploy.md
  tools/.gitignore
  tools/package.sh
Due: none

update doc
  doc/compile_deploy.md
Due: none

use mpiexec insteadof mpirun
  doc/tutorial/01-begin-with-wide-deep.ipynb
  test/CMakeLists.txt
Due: none

update oopenmpi
  pixi.lock
  pyproject.toml
Due: toml-format

add position layer
  tensornet/layers/__init__.py
  tensornet/layers/position_mapping.py
Due: none

use latest pixi installer
  pixiw
Due: none

bump pixi to 0.46 in ci
  .github/workflows/python.yml
  .gitlab-ci.yml
Due: check-yaml

add otel trace for Model.fit() and Model.predict()
  pyproject.toml
  tensornet/_opentelemetry.py
  tensornet/model/Model.py
Due: toml-format

do not depend on otel exporters
  pixi.lock
  pyproject.toml
  tensornet/_opentelemetry.py
Due: toml-format

fix fit()
  config/tn_build.yaml
  tensornet/model/Model.py
Due: check-yaml

Bump version: 0.102.0.dev → 0.102.0
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: toml-format

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^.pixi/envs/
  toml-format: any of: \.toml$, but not: ^.pixi/envs/
