Repository Qihoo360/tensornet: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, format-yaml, check-yaml, check-yaml-multi, toml-format, check-json, format-json, clang-format, actionlint

trailing-whitespace:
  name: Fix trailing whitespace
  entry: ./pixiw run -e tools trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - manual

format-yaml:
  name: Format YAML
  entry: ./pixiw run -e tools yamlfmt
  language: system
  stages:
  - pre-commit
  - manual

check-yaml:
  name: Check YAML
  entry: ./pixiw run -e tools check-yaml
  language: system
  stages:
  - pre-commit
  - manual

check-yaml-multi:
  name: Check multi-doc YAML
  entry: ./pixiw run -e tools check-yaml --allow-multiple-documents
  language: system
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: ./pixiw run toml-format
  language: system
  stages:
  - pre-commit
  - manual

check-json:
  name: Validate json files
  entry: ./pixiw run -e tools check-json
  language: system
  stages:
  - pre-commit
  - manual

format-json:
  name: Format json files
  entry: ./pixiw run -e tools pretty-format-json --autofix
  language: system
  stages:
  - pre-commit
  - manual

clang-format:
  name: Format C/C++/Proto files
  entry: ./pixiw run -e tools clang-format -i
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: ./pixiw run -e tools actionlint
  stages:
  - pre-commit
  - manual

fix version to 0.102.0
  pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.102.0 → 0.102.0.post1
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

some fixes
  manager
  pixiw
  pyproject.toml
Due: trailing-whitespace, toml-format

fix typo
  pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.102.0.post1 → 0.102.1.dev
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

use PIXI_REPOURL for downloading pixi installer
  pixiw
Due: trailing-whitespace

find PIXI_REPOURL from pixi config
  pixiw
Due: trailing-whitespace

bump pixi to 0.49, suppport cross resolving
  pixi.lock
  pyproject.toml
Due: trailing-whitespace, toml-format

bump pixi-version in ga
  .github/workflows/python.yml
  .github/workflows/tensornet-tools.yml
Due: trailing-whitespace, format-yaml, check-yaml, actionlint

simplify ci job
  .gitlab-ci.yml
Due: trailing-whitespace, format-yaml, check-yaml

Embedding share
  core/main/py_wrapper.cc
  core/ps/optimizer/ada_grad_kernel.cc
  core/ps/optimizer/optimizer.h
  core/ps/table/sparse_table.cc
  core/ps/table/sparse_table.h
  tensornet/layers/embedding_features.py
  tensornet/layers/sequence_embedding_features.py
  test/ps/table/sparse_table_test.cc
Due: trailing-whitespace, clang-format

Bump version: 0.102.1.dev → 0.102.1.rc
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.102.1.rc → 0.102.1
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

update to tf 2.8
  CMakeLists.txt
  cmake/FindTensorflow.cmake
  config/tn_build.yaml
  configure.sh
  core/kernels/data/balance_dataset_ops.cc
  core/kernels/data/balance_dataset_ops.h
  core/kernels/data/balance_dataset_ops_dummy.cc
  core/kernels/data/balance_dataset_ops_dummy.h
  core/kernels/resource_var_wrapper.h
  examples/gen_example_data.py
  pixi.lock
  pyproject.toml
  setup.py
  tensornet/layers/embedding_features.py
  tensornet/layers/normalization_layer.py
  tensornet/model/Model.py
  tensornet/optimizer/optimizer.py
  test/CMakeLists.txt
  tf_gen_op_wrapper.py
Due: trailing-whitespace, format-yaml, check-yaml, toml-format, clang-format

update lr schedule api
  tensornet/optimizer/optimizer.py
Due: trailing-whitespace

include find protobuf cmake
  cmake/FindProtobuf.cmake
Due: trailing-whitespace

update protobuf py
  cmake/find-protobuf.py
Due: trailing-whitespace

update penv
  CMakeLists.txt
Due: trailing-whitespace

pre commit
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindProtobuf.cmake
  cmake/FindTensorflow.cmake
  cmake/find-protobuf.py
  core/kernels/data/balance_dataset_ops.cc
  core/kernels/data/balance_dataset_ops_dummy.cc
  core/ps/ps_local_server.cc
  core/ps/ps_local_server.h
  core/ps/ps_remote_server.cc
  core/ps/ps_remote_server.h
  core/ps/ps_server_interface.h
  core/ps/table/sparse_table.cc
  pyproject.toml
  tensornet/layers/embedding_features.py
  tensornet/layers/normalization_layer.py
  tensornet/model/Model.py
  test/CMakeLists.txt
Due: trailing-whitespace, format-yaml, check-yaml, toml-format, clang-format

pre commit
  tensornet/data/dataset.py
  tensornet_tools/README.md
Due: trailing-whitespace

Bump version: 0.102.1 → 0.108.0.dev
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.108.0.dev → 0.108.0.rc
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.108.0.rc → 1.8.0.dev
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Revert "Bump version: 0.108.0.rc → 1.8.0.dev"
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.108.0.rc → 0.208.0.dev
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.208.0.dev → 0.208.0.rc
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.208.0.rc → 0.208.0.rc1
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Revert "Bump version: 0.208.0.rc → 0.208.0.rc1"
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

update github workflow
  .github/workflows/python.yml
Due: trailing-whitespace, format-yaml, check-yaml, actionlint

disable bazel build
  .github/workflows/python.yml
Due: trailing-whitespace, format-yaml, check-yaml, actionlint

fix missing update
  pixi.lock
Due: trailing-whitespace

Bump version: 0.208.0.rc1 → 0.208.0.rc2
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

fix missing update
  tensornet/layers/embedding_features.py
  tensornet/model/Model.py
Due: trailing-whitespace

Bump version: 0.208.0.rc2 → 0.208.0.rc3
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

Bump version: 0.208.0.rc3 → 0.208.0
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

update protobuf to 3.19.6
  cmake/FindTensorflow.cmake
  pyproject.toml
Due: trailing-whitespace, toml-format

update protobuf to 3.19.6
  cmake/FindTensorflow.cmake
Due: trailing-whitespace

Bump version: 0.208.0 → 0.208.0.post1
  pyproject.toml
  tensornet/version.py
  tensornet_tools/pyproject.toml
Due: trailing-whitespace, toml-format

fix embedding share save
  tensornet/layers/embedding_features.py
  tensornet/layers/sequence_embedding_features.py
Due: trailing-whitespace

Path conditions:
  trailing-whitespace: any file but: \.patch$
  format-yaml: any of: \.(yaml|yml)$
  check-yaml: any of: \.(yaml|yml)$, but not: ^\.clang-format$
  check-yaml-multi: any of: ^\.clang-format$ and \.(yaml|yml)$
  toml-format: any of: \.toml$
  check-json: any of: \.json$
  format-json: any of: \.json$, but not: ^doc/
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, \.proto$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
